src/ASPNETCoreAngular2WebpackStarter/node_modules/
src/ASPNETCoreAngular2WebpackStarter/obj
src/ASPNETCoreAngular2WebpackStarter/wwwroot
src/ASPNETCoreAngular2WebpackStarter/typings
src/ASPNETCoreAngular2WebpackStarter/bin
src/ASPNETCoreAngular2WebpackStarter/node_modules
src/ASPNETCoreAngular2WebpackStarter/wwwroot/js
.vs/
npm-debug.log
